.hidden{
    display: none;
}
body{
    background-image: url('../img/backgroundPokemon.png');
}
.scrollable{
    max-height: 52vh;
    overflow-y: scroll;
}
form{
    font-weight: bold;
}
.hamburger{
    background-color: lightblue;
}
#pokemonModal{
    background-color:lightblue;
    position: fixed;
    z-index: 9999;
    border-radius: 1%;
    border: 1px solid black;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#pokemonModal ul{
    list-style: none;
}
.card{
    margin: 0 auto;
}